.Date {
  font-weight: 400;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  color: var(--color-black);
  text-transform: none !important;
}

.Date:hover {
  cursor: pointer;
  text-decoration: underline;
}
