.FormRow {
  display: flex;
  flex-direction: row;
  background-color: aquamarine;

  .FormCol {
    flex: 1;

    &:first-of-type {
      margin-right: 20px;
    }

    &:last-of-type {
      margin-left: 20px;
    }
  }

  .FormColFull {
    flex: 1;
  }
}

.FormBtnToolbar {
  margin-top: 25px;
  margin-bottom: 25px;
}

.FormField {
  // override custom rs-suite value
  margin-bottom: 25px !important;
}

.FormLabel {
  font-size: 15px;
  color: var(--color-black);
  font-weight: 600;
  margin-bottom: 6px !important;
}
