.pageWrapper {
  width: 100%;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 65px;
  padding-bottom: 45px;

  // .contentWrapper {
  //   padding-top: 35px;

  //   @media (min-width: 992px) {
  //       padding-left: 20px;
  //       padding-right: 20px;
  //   }
  // }
}

.menuItem {
  text-align: center;
  padding-left: 25px !important;
  padding-right: 25px !important;
}
