.Actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.textCell {
  text-transform: capitalize;
}

.TableRowMenu {
  cursor: pointer;
}

.TableRowMenuItem {
  &:hover {
    background-color: var(--color-pink);
    transition: all ease-in-out 200ms;
    opacity: 0.8;
  }
}
