$color-blue: #008dde;
$color-dark-blue: #273647;
$color-black: #282828;

.tabToolBarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
  height: 100%;
}

.title{
  text-align: center;
  margin: 10px 0px;
  color: $color-blue;
}

.tabButtonToolBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $color-black;
  align-items: center;
  border-radius: 0px;
  overflow: hidden;
  padding: 8px 8px;
  //flex: 1;

  @media (min-width: 992px) {
    border-radius: 3px;
    flex: 0 0 500px;
  }

  .tab {
    flex: 1;
    display: flex;
    justify-content: center;

    .tabBtn {
      background-color: $color-black;
      flex: 1;
      border-radius: 3px;
      padding: 5px 0px;

      p {
        text-align: center;
        color: white;
        font-weight: 500;
      }
    }

    &.active {
      .tabBtn {
        background-color: #fff;
        p {
          color: $color-black;
        }
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 20px;

  @media (min-width: 992px) {
    margin-bottom: 0px;
  }

  .btn {
    overflow: hidden;
    p {
      font-size: 14px;
      padding: 5px 1.5px;

      @media (min-width: 992px) {
        padding: 1.5px;
      }
    }
  }

  .headerLeft {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (min-width: 992px) {
      flex-direction: row;
      gap: 6px;
    }
  }

  .headerRight {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (min-width: 992px) {
      flex-direction: row;
      gap: 6px;
    }
  }
}

.editorContainer {
  flex: 1;
  padding-top: 12px;
  background-color: #1e1e1e;
}

.postContainer {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 30px 25px 50px 25px;
  .post {
    width: 100%;
  }
}
