//Default Colors
:root {
  --color-blue: #008dde;
  --color-dark-blue: #273647;
  --color-black: #282828;
  --color-white: white;
  --color-dark-red: #881c24;
  --color-pink: #f8d7da;
  --color-background: #282828;

  --color-loader-center: white;
  --color-loader-inner: #a7cced;
  --color-loader-outer: #008dde;
}

//Dark Mode colors
@media (prefers-color-scheme: dark) {
  [data-theme='dark'] {
    --color-blue: white;
    --color-dark-blue: #273647;
    --color-black: #d3d3d3;
    --color-white: #2c2f33;
    --color-dark-red: #881c24;
    --color-pink: #f8d7da;
    --color-background: #282828;

    --color-loader-center: #23272a;
    --color-loader-inner: #a7cced;
    --color-loader-outer: #008dde;
  }
}

.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #1f1f1f;
  order: 2;
  margin-right: 10px;
  margin-left: auto;
  background-color: var(--color-background);

  .dropdown {
    @media (min-width: 768px) {
      display: block;
      background-color: var(--color-background);
    }

    .dropdownLink {
      font-family: 'Roboto', sans-serif;
      padding: 0px;
      margin-top: 0px;
      display: block;
      width: 100%;
      height: 100%;
      text-align: left;
      padding: 8px 35px;
      color: var(--color-black);
      background-color: var(--color-white);
    }

    .dropdownLink:last-child {
      border-top: solid 1px var(--color-white);
    }

    .profile {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover .Name {
        color: var(--color-blue);
      }

      .thumbnail {
        width: 32px;
        height: 32px;
        overflow: hidden;
        border-radius: 50%;

        img {
          width: 100% !important;
          height: 100% !important;
          object-fit: cover;
        }
      }

      .info {
        margin-right: 10px;
        margin-left: 10px;

        .name {
          margin: 0;
          font-weight: 400;
          text-align: right;
          font-size: 15px;
          text-transform: capitalize;
          color: #fff;

          &:hover {
            color: var(--color-blue);
            transition: all ease-in-out 300ms;
          }
        }

        .type {
          margin: 0;
          font-size: 12px;
          text-align: right;
          text-transform: capitalize;
          color: var(--color-blue);
        }
      }
    }
  }
}
