$color-blue: #008dde;
$color-dark-blue: #273647;
$color-black: #282828;

.profileContainer {
  min-height: 100vh;

  // contains the posts and about sections
  .content {
    padding-left: 23px;
    padding-right: 23px;

    @media (min-width: 992px) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (min-width: 1440px) {
      padding-left: 165px;
      padding-right: 165px;
    }

    .rightCol {
      order: 1;

      @media (min-width: 768px) {
        order: 2;
      }
    }

    .leftCol {
      order: 2;

      @media (min-width: 768px) {
        order: 1;
      }
    }
  }
}

.tabButtonToolBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $color-black;
  align-items: center;
  border-radius: 0px;
  overflow: hidden;
  padding: 8px 8px;
  margin-bottom: 25px;

  &::after {
    content: '';
    background-color: $color-black;
    position: absolute;
    width: 100%;
  }
  //flex: 1;

  @media (min-width: 992px) {
    border-radius: 3px;
    flex: 0 0 500px;
  }

  .tab {
    flex: 1;
    display: flex;
    justify-content: center;

    .tabBtn {
      background-color: $color-black;
      flex: 1;
      border-radius: 3px;
      padding: 5px 0px;

      p {
        text-align: center;
        color: white;
        font-weight: 500;
      }
    }

    &.active {
      .tabBtn {
        background-color: #fff;
        p {
          color: $color-black;
        }
      }
    }
  }
}
