

.validUsername {
    color: green;
    font-size: 14px;
    margin-top: 4px;
  }
  
  .invalidUsername {
    color: red;
    font-size: 14px;
    margin-top: 4px;
    
  }
  
  
  .usernameSpinner{
    margin-top: 6px;
    margin-left: 2px;
  }