.ContentWrapper {
  max-width: 100%;
  margin: auto;
  padding: 0px;
  @media (min-width: 768px) {
    max-width: 400px;
    margin: auto;
    padding: 36px;
  }
  @media (min-width: 992px) {
    max-width: 400px;
    margin: auto;
    padding: 25px;
  }
}

.FormBtnToolbar div {
  flex: 1;
}
