$color-blue: #008dde;
$color-dark-blue: #273647;
$color-black: #282828;

.ContentWrapper {
  max-width: 100%;
  margin: auto;
  padding: 0px;

  @media (min-width: 768px) {
    max-width: 400px;
    margin: auto;
    padding: 36px;
  }

  @media (min-width: 992px) {
    max-width: 400px;
    margin: auto;
    padding: 25px;
  }

  .title {
    font-size: 21px;
    font-weight: 500;
    color: $color-black;
    margin-bottom: 25px;
  }

  .message {
    font-size: 16px;
    font-weight: 400;
    color: $color-black;
    margin-bottom: 15px;
  }

  .warnMessage {
    font-size: 16px;
    font-weight: 400;
    color: $color-black;
    margin-bottom: 25px;
  }
}

.FormBtnToolbar div {
  flex: 1;
}

.checkField {
  margin-bottom: 15px !important; // overwrite default margin-bottom
}

.helpLinks {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  p {
    font-size: 15px;
    color: $color-blue;

    @media (min-width: 992px) {
      &:hover {
        color: $color-black;
      }
    }
  }
}
