$color-blue: #57bcea;
$color-black: #282828;
$colorBackground: #282828;

.navbar {
  display: flex;
  position: fixed !important;
  background-color: $colorBackground;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  height: 65px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1920px;
  margin: 0 auto;
  box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
  z-index: 999;
  border-bottom: solid 1px #fff;
  justify-content: space-between;

  @media (min-width: 768px) {
    padding-left: 35px;
    padding-right: 35px;
  }

  @media (min-width: 992px) {
    padding-left: 45px;
    padding-right: 45px;
  }

  .brandContainer {
    @media (min-width: 992px) {
      order: 1;
    }
    .brandLink {
      font-size: 24px;
      color: #fff;

      &:hover {
        color: $color-blue;
        transition: all ease-in-out 300ms;
      }

      span {
        color: $color-blue;
      }
    }
  }
}

.burger {
  margin-left: auto;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: all 0.5s ease;

  .burgerStrip {
    transform: scale(0.7);
    transition: all 0.5s ease;
    div {
      height: 3px;
      border-radius: 2px;
      background: $color-black;
      margin: 10px;
      transition: all 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);
      width: 40px;
    }
  }
}

.burgerActive {
  background-color: $color-black;
  .burgerStrip {
    transform: scale(0.7) rotate(45deg);
    transition: all 0.2s ease 0.05s;

    div {
      background: #fff;
    }

    div:first-child {
      transform: translateY(13px) rotate(0deg);
    }

    div:nth-child(2) {
      opacity: 0;
    }

    div:last-child {
      transform: translateY(-13px) rotate(90deg);
    }
  }
}


