$color-blue: #57bcea;
$color-black: #282828;
$colorBackground: #282828;
$color-grey: #edeff1;

.contentWrapper {
  .section {
    margin-bottom: 55px;

    h3 {
      font-weight: 500;
      font-size: 14px;
      color: $color-black;
      line-height: 21px;
      margin-bottom: 35px;
      border-bottom: solid 1px $color-grey;
      text-transform: uppercase;
    }
  }
}
