.contentWrapper {
  background-color: var(--color-loader-center);

  .section {
    margin-bottom: 55px;

    h3 {
      font-weight: 500;
      font-size: 14px;
      color: var(--color-black);
      line-height: 21px;
      margin-bottom: 35px;
      border-bottom: solid 1px var(--color-grey);
      text-transform: uppercase;
    }
  }
}
