.container {
  height: 100%;
  width: 100%;
  background: #154d83;
  overflow: hidden;
  position: relative;

  .wave {
    width: 325%;
    left: -125%;
    position: absolute;
    margin: 0px 0px;
    // background-image: url(../../../../assets/images/wave.png);
    background-position: center bottom;
    background-repeat: repeat-x;
    background-size: 18%;

    animation-name: swingWave;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0.1s;
  }

  .sky {
    .stars1 {
      z-index: 10;
      width: 1px;
      height: 1px;
      border-radius: 50%;
      background: transparent;
      animation: animStar 100s linear infinite;

      &::after {
        content: ' ';
        top: -600px;
        width: 1px;
        height: 1px;
        border-radius: 50%;
        position: absolute;
        background-color: transparent;
      }
    }

    .stars2 {
      z-index: 10;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background: transparent;
      animation: animStar 125s linear infinite;
      &::after {
        content: ' ';
        top: -600px;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        position: absolute;
        background: transparent;
      }
    }

    .stars3 {
      z-index: 10;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: transparent;
      animation: animStar 175s linear infinite;
      &::after {
        content: ' ';
        top: -600px;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        position: absolute;
        background-color: transparent;
      }
    }

    .shootingStars {
      z-index: 0;
      width: 5px;
      height: 85px;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      position: absolute;
      bottom: 0;
      right: 0;
      background: linear-gradient(to top, rgba(255, 255, 255, 0), white);
      animation: animShootingStar 10s linear infinite;
    }
  }

  .boatContainer {
    position: absolute;
    bottom: -45px;
    left: -415px;
    transform: rotateZ(-12deg) scale(0.70);
    animation: moveBoat 60s 0.1s infinite linear;
    z-index: 7;

    @media (min-width: 1440px) {
      left: -415px;
      transform: rotateZ(-12deg) scale(0.85);
      bottom: -5px;
    }

    .boat {
      width: 415px;
      height: 600px;
      z-index: 0;
      // background-image: url(../../../../assets/images/ship.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: swingBoat 4s 0.1s infinite linear;
    }
  }

  .typewriter {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 55px;
    height: 200px;
    margin: auto;
    text-align: center;

    @media (min-width: 1440px) {
      top: 100px;
    }
  }
}

@keyframes swingWave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}

@keyframes moveBoat {
  0% {
    left: -400px;
  }

  100% {
    left: 103%;
  }
}

@keyframes swingBoat {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 5%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 5%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 5%, 0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 5%, 0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0, 5%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 5%, 0) rotateZ(-360deg);
  }
}
